.admin {
  padding: 20px;
}

.admin .label {
  margin-right: 20px;
}

.admin .match-item {
  margin-bottom: 20px;
  display: flex;
}

.admin .match-item .match-data {
  margin-right: 20px;
}

.admin .match-item form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.admin a {
  display: block;
  margin-top: 40px;
}
